<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Carousel - enter description</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">


  <script>

      // USE THIS POST FUNCTION to CREATE
      function post(path, httpVerb, status, filename) {

        console.log(path);
        console.log(httpVerb);
        console.log(filename);
        console.log(status);

        var fileNameNoExt = filename.substr(0, filename.indexOf('.'));

        httpVerb = httpVerb || "post"; // Set method to post by default if not specified.
        console.log(httpVerb);

        var form = document.createElement("form");
        form.setAttribute("method", httpVerb);
        form.setAttribute("action", path);

        var hiddenFieldNamePictorial = document.createElement("input");
        hiddenFieldNamePictorial.setAttribute("type", "hidden");
        hiddenFieldNamePictorial.setAttribute("name", "name");
        hiddenFieldNamePictorial.setAttribute("value", fileNameNoExt);
        form.appendChild(hiddenFieldNamePictorial);

        var hiddenFieldFileNamePictorial = document.createElement("input");
        hiddenFieldFileNamePictorial.setAttribute("type", "hidden");
        hiddenFieldFileNamePictorial.setAttribute("name", "fileName");
        hiddenFieldFileNamePictorial.setAttribute("value", filename);
        form.appendChild(hiddenFieldFileNamePictorial);

        var descriptionText = document.getElementById("descriptionPictorial").value;
        var hiddenFieldDescriptionPictorial = document.createElement("input");
        hiddenFieldDescriptionPictorial.setAttribute("type", "hidden");
        hiddenFieldDescriptionPictorial.setAttribute("name", "description");
        hiddenFieldDescriptionPictorial.setAttribute("value", descriptionText);
        form.appendChild(hiddenFieldDescriptionPictorial);

        document.body.appendChild(form);
        form.submit();

      }

  </script>


</head>

  <body>

    <div class="container">
          <div class="jumbotron">
            <h1>Insert description for your Pictorial</h1>
          </div>

        <div class="createImageRow">
            <div class="alert alert-info">
              <strong>status:</strong> <%= status %>
              <span class="alert-link">filename: <%= filename %></span>
            </div>


          <textarea id="descriptionPictorial"></textarea>
        </div>

        <button onclick="post('http://128.199.83.231/pictorials',
                                                          'POST',
                                                          '<%= status %>',
                                                          '<%= filename %>')">create</button>

    </div> <!-- container -->
  </body>
</html>
