<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>PICTORIAL successfully created</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

</head>

  <body>
    <div class="container">
        <div class="jumbotron">
          <h1>Pictorial created: <%= status %></h1>
          <div class="alert alert-success">
            View your slideshow <strong><a href="http://139.59.225.252/" target="_blank">here</a></strong>
          </div>
        </div>
      </div><!-- container -->
  </body>
</html>
